.loader-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #16111ab6;
    z-index: 99;
}
.loader-page div {
    display: flex;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: solid 10px #3c3146c7;
    border-left: solid 10px var(--main-color);
    animation: loader-animation 1s linear infinite;
}
@keyframes loader-animation {
    to {
        transform: rotate(360deg);
    }
}